<launch>

    <arg name='polly_audio_storage_path' default="$(find success_polly_speech)/audio_storage"/>
    <arg name='no_audio' default="false"/>


	<group ns='success_polly_speech'>
		<node name="audio_play" pkg="audio_play" type="audio_play" output="screen" />
		<node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>

		<node pkg="success_polly_speech" name="polly_node" type="polly_node.py" output='screen'>
			<param name="no_audio" type="bool" value="$(arg no_audio)" />
			<param name="polly_audio_storage_path" type="string" value='$(arg polly_audio_storage_path)' />
		</node>
	</group>
</launch>
